Package: docmail
Version: 0.5.0-1
Architecture: all
Maintainer: Dirk Winkel <it@polarwinkel.de>
Installed-Size: 76
Depends: python3 (>= 2.7.0), python3-pycountry (>= 1.8), sane (>= 1.0.0), imagemagick (>=6.0.0), tesseract-ocr (>= 3.0.0), tesseract-ocr-eng (>= 3.0.0), tesseract-ocr-deu (>= 3.0.0), pdftk (>=1.4.0), exactimage (>=0.8.9)
Section: utils
Priority: optional
Homepage: http://polarwinkel.de
Description: micro document management system using eMail.
 It Scans your documents or takes prictures from them, make an OCR to copy
 the content searchable in an eMail. The scanned document are attached
 as multi-page sandwich-pdf (searchable) and send to yourself (or whoever
 you like).
